@model ShoppingCartApp.Presentation.BrowseView
@using ShoppingCartApp.Models;
@using ShoppingCartApp.Presentation;
@using PagedList;
@using PagedList.Mvc;

@{
    ViewBag.Title = "Browse";
    List<Category> breadcrumb = new List<Category>();
    List<Category> categoriesList = ModelLists.Categories;
    breadcrumb.Insert(0, Model.Category);
    Category parentCat = Model.Category;
}
@while (parentCat.ParentClassID != null)
{
    parentCat = categoriesList.Where(parent => parent.ClassId == parentCat.ParentClassID).Single();
    breadcrumb.Insert(0, parentCat);
}

<div class="fixedBreadcrumb">
    <ol class="breadcrumb">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li class="active">@Html.ActionLink("Categories", "Index", "Category")</li>
        @foreach (Category cat in breadcrumb)
        {
            if (cat.ClassId == Model.Category.ClassId)
            {
                <li class="active">@cat.ClassName</li>
            }
            else
            {
                <li>@Html.ActionLink(cat.ClassName, "Browse", "Category", new { id = cat.ClassId }, null)</li>
            }
        }
    </ol>
</div>
<div class="logoRelative">
    @{Category rootCategory = Model.Category;
        while (rootCategory.ParentClassID != null)
        {
            rootCategory = ModelLists.Categories.Where(root => root.ClassId == rootCategory.ParentClassID).Single();
        }
        if (rootCategory.ImageUrl != null)
        {
            <div id="image">
                <img src="@Url.Content(rootCategory.ImageUrl)" alt="@rootCategory.ClassName" width="500" height="500" class="img-responsive" style="margin: 0 auto;">
            </div>
        }
        else
        {
            <h1>@rootCategory.ClassName</h1>
        }
    }
</div>

<ul class="gridviews" style="text-align: center">
    @foreach (Category category in categoriesList)
    {
        if (category.ParentClassID == Model.Category.ClassId)
        {
            <li>
                <h3>
                    @Html.ActionLink(category.ClassName, "Browse", "Category", new { id = category.ClassId }, null)
                </h3>
            </li>
        }
    }
</ul>

<hr class="soften" />
<ul class="productGridviews">
    @foreach (Product product in Model.Products)
    {
        <li>
            <hr />
            <a href=@Url.Action("Details", "Product", new { id = product.ProductID })>
                <div id="image" style="vertical-align:middle">
                    <h4>
                        @if (product.ProductImages.Count > 0)
                        {
                            <img src="@Url.Content(product.ProductImages.Where(x => x.Featured == true).Single().Path)" alt="category.ClassName" height="25" width="150" class="img-responsive img-thumbnail browseThumbnail">
                        }
                        else
                        {
                            <img src="~/images/imagenotavailablegrid.jpg" height="150" width="150" class="img-responsive img-thumbnail browseThumbnail">
                        }
                    </h4>
                </div>
            </a>
            <a href=@Url.Action("Details", "Product", new { id = product.ProductID })>
                <h3>@product.ProductName</h3>
            </a>
            <h5>@product.ShortDescription</h5>
            @if (product.WildmanPrice != null)
            {
                <h6 class="lineThrough">Price: @StringFormatting.FormattedPrice(product.Price)</h6>
                <h5><span class="bold">Sale Price: </span> <span class="price">@StringFormatting.FormattedPrice((decimal)product.WildmanPrice)</span></h5>
            }
            else
            {
                <h5><span class="bold">Price: </span><span class="price">@StringFormatting.FormattedPrice(product.Price)</span></h5>
            }
        </li>
    }
</ul>

<table>
    @Html.PagedListPager(Model.Products, page => Url.Action("Browse", new { page }), new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded })
</table>
